@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color:#38abf8;
    --red:#d64e3f;
    --green:#3fce2c;
    --black:#484848;
    --white:#f7f7f7;
    --light-bg:#fdf3f3;
    --light-color:#949393;
    --border:.12rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --btn-color: #032c54;
    --sec-color:#dadada;
}

*{
    font-family: 'Nunito', sans-serif;box-sizing: border-box;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    color: var(--white);
    background-color: var(--main-color);
}

::-webkit-scrollbar{
    width: .8rem;
}

::-webkit-scrollbar-track{
    background-color: none;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    /* background-color: var(--sec-color); */
    background-color: var(--white);
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.heading{
    font-size: 4rem;
    color:var(--black);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
 }
 
 .btn,
 .delete-btn,
 .option-btn{
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding:1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color:var(--white);
    cursor: pointer;
    text-align: center;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}
 

.btn{
    background-color: var(--main-color);
}

.delete-btn{
    background-color: var(--red);
}

.option-btn{
      background-color: var(--main-color);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    background-color: var(--black);
}

.flex-btn{
    display: flex;
    gap: 1rem;
}

.message{
    position: sticky;
    top: 0;
    /* max-width: 1200px;
    margin: 0 auto; */
    width: 100%;
    background-color: var(--sec-color);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i{
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.message i:hover{
    color: var(--black);
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow );
    padding: 2rem;
    text-align: center;
    width: 50rem;
}

.form-container form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.form-container form p{
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--light-color);
}

.form-container from p span{
    color: var(--orange);
}

.form-container form .box{
    width: 100%;
    background-color: var(--sec-color);
    padding: 1.4rem;
    font-size: 1.4rem;
    color: var(--black);
    margin: 1rem 0;
    border: var(--border);
    font-size: 1.8rem;
    border-radius: .5rem;
}

.header{
    position: sticky;
    top:0; left:0; right:0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }
 
 .header .flex .logo{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .header .flex .logo span{
    color:var(--main-color);
 }
 
 .header .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:var(--black);
 }
 
 .header .flex .navbar a:hover{
    color:var(--main-color);
 }
 
 .header .flex .icons div{
    margin-left: 1.7rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
 }
 
 .header .flex .icons div:hover{
    color:var(--main-color);
 }
 
 .header .flex .profile{
    position: absolute;
    top:120%; right:2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding:2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation:fadeIn .2s linear;
 }
 
 .header .flex .profile.active{
    display: inline-block;
 }
 
 .header .flex .profile p{
    text-align: center;
    color:var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
 }
 
 #menu-btn{
    display: none;
 }

 .dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .dashboard .box-container .box{
    padding:2rem;
    text-align: center;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background-color: var(--white);
 }
 
 .dashboard .box-container .box h3{
    font-size: 2.7rem;
    color:var(--black);
 }
 
 .dashboard .box-container .box h3 span{
    font-size: 2rem;
 }
 
 .dashboard .box-container .box p{
    padding:1.3rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    font-size: 1.7rem;
    color:var(--light-color);
    margin:1rem 0;
 }

 .add-products form{
    max-width: 70rem;
    margin: 0 auto;   
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    padding:2rem;
 }
 
 .add-products form .flex{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
 }
 
 .add-products form .flex .inputBox{
    flex:1 1 25rem;
 } 
 
 .add-products form span{
    font-size:1.7rem;
    color:var(--light-color);
 }

 .add-products .inputBox .select{
   margin: 1rem 0;
   width: 100%;
   background-color: var(--light-bg);
   padding:1rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
 }
 
 .add-products form .box{
    font-size: 1.8rem;
    background-color: var(--sec-color);
    border-radius: .5rem;
    padding:1.4rem;
    width: 100%;
    margin-top: 1.5rem;
 }
 
 .add-products form textarea{
    height: 5.4rem;
    resize: none;
 }

 .show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .show-products .box-container .box{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
 }
 
 .show-products .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 1.5rem;
 }
 
 .show-products .box-container .box .name{
    font-size: 2rem;
    color:var(--black);
 }
 
 .show-products .box-container .box .price{
    font-size: 2rem;
    color:var(--main-color);
    margin:.5rem 0;
 }
 
 .show-products .box-container .box .details{
    font-size: 1.5rem;
    color:var(--light-color);
    line-height: 2;
 }

 .update-product form{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
    max-width: 50rem;
    margin:0 auto;
 }
 
 .update-product form .image-container{
    margin-bottom: 2rem;
 }
 
 .update-product form .image-container .main-image img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
 }
 
 .update-product form .image-container .sub-image{
    display: flex;
    gap:1rem;
    justify-content: center;
    margin:1rem 0;
 }
 
 .update-product form .image-container .sub-image img{
    height: 5rem;
    width: 7rem;
    object-fit: contain;
    padding:.5rem;
    border:var(--border);
    cursor: pointer;
    transition: .2s linear;
 }
 
 .update-product form .image-container .sub-image img:hover{
    transform: scale(1.1);
 }
 
 .update-product form .box{
    width: 100%;
    border-radius: .5rem;
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    background-color: var(--light-bg);
    margin:1rem 0;
 }
 
 .update-product form span{
    font-size: 1.7rem;
    color:var(--light-color);
 }
 
 .update-product form textarea{
    height: 15rem;
    resize: none;
 }

 .update-product form .select{
      margin: 1rem 0;
      width: 100%;
      background-color: var(--light-bg);
      padding:1rem;
      font-size: 1.8rem;
      color:var(--black);
      border-radius: .5rem;
      border:var(--border);
 }

 .orders .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .orders .box-container .box{
    padding:2rem;
    padding-top: 1rem;
    border-radius: .5rem;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
 }
 
 .orders .box-container .box p{
    line-height: 1.5;
    font-size: 2rem;
    color:var(--light-color);
    margin:1rem 0;
 }
 
 .orders .box-container .box p span{
    color:var(--main-color);
 }

 .orders .box-container .select{
    margin-bottom: .5rem;
    width: 100%;
    background-color: var(--light-bg);
    padding:1rem;
    font-size: 1.8rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
 }

 .accounts .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .accounts .box-container .box{
    padding:2rem;
    padding-top: .5rem;
    border-radius: .5rem;
    text-align: center;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
 }
 
 .accounts .box-container .box p{
    font-size: 2rem;
    color:var(--light-color);
    margin: 1rem 0;
 }
 
 .accounts .box-container .box p span{
    color:var(--main-color);
 }

 .contacts .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .contacts .box-container .box{
    padding:2rem;
    padding-top: 1rem;
    border-radius: .5rem;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
 }
 
 .contacts .box-container .box p{
    line-height: 1.5;
    font-size: 2rem;
    color:var(--light-color);
    margin:1rem 0;
 }
 
 .contacts .box-container .box p span{
    color:var(--main-color);
 }
 
/*media queries*/

@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    .header .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 
    .header .flex .navbar a{
       display: block;
       margin:2rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading{
       font-size: 3.5rem;
    }
 
    .flex-btn{
       flex-flow: column;
       gap:0;
    }
 
    .add-products form textarea{
       height:15rem;
    }   
 
    .show-products .box-container{
       grid-template-columns: 1fr;
    }
 
    .orders .box-container{
       grid-template-columns: 1fr;
    }
 
    .accounts .box-container{
       grid-template-columns: 1fr;
    }
 
    .contacts .box-container{
       grid-template-columns: 1fr;
    }
 
 }